.card:hover img
{
  transform: scale(1.2,1.2);
  transition: ease-out;
  transition-duration: 500ms;
  opacity: 0.8;
}
.card img
{
  transform: scale(1.0,1.0);
  transition: ease-out;
  transition-duration: 500ms;
}
.card-img-wrapper{
  overflow: hidden;
  position: relative;
}

.member-icons{
  position: absolute;
  bottom: -30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}
.card-img-wrapper:hover .member-icons {
  opacity: 1;
  bottom: 0;
}
.animate{
  transition: all 0.3s ease-in-out;
}
