<div class="text-center mt-3">
  <h2>{{predicate == "liked" ? "Members I Like" : "Members Like Me"}}</h2>
</div>

<div class="container mt-3 ">
  <div class="row">
    <div class="col-12 text-center mb-3">
    <div class="btn-group" name="predicate">
      <button class="btn btn-primary" btnRadio="liked" [(ngModel)]="predicate" (click)="LoadMembers()">
        Member I Like
      </button>
      <button class="btn btn-primary" btnRadio="likedBy" [(ngModel)]="predicate" (click)="LoadMembers()">
        Member who likes me
      </button>
    </div>
  </div>
  <div class="col-2" *ngFor="let member of members">
    <app-member-card [member]="member"></app-member-card>
  </div>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged) = "pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;">
</pagination>
</div>
